@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    font-family: 'Changa', sans-serif;
}
body{
    overflow-x: hidden;
}
@media(max-width:441px){
    body{

        overflow-x: hidden;
    }

}